#!/usr/bin/make -f
# -*- makefile -*-

# see EXAMPLES in dpkg-buildflags(1) and read /usr/share/dpkg/*
DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/default.mk

# see FEATURE AREAS in dpkg-buildflags(1)
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all

name = myproxy

_prefix = /usr
_sysconfdir = /etc
_includedir = $(_prefix)/include
_datadir = $(_prefix)/share
_mandir = $(_datadir)/man
_docdir = $(_datadir)/doc

override_dh_auto_configure:
	dh_auto_configure -- \
	   --mandir='$(_datadir)/man' \
	   --docdir='$(_docdir)/lib$(name)-dev' \
	   --includedir='$(_includedir)/globus' \
	   --datadir='$(_datadir)' \
	   --libexecdir='$(_datadir)/globus' \
	   --disable-static

override_dh_auto_install:
	dh_auto_install
	mkdir -p debian/tmp/usr/share/doc/libmyproxy6
	cp README debian/tmp/usr/share/doc/libmyproxy6
	mkdir -p debian/tmp/etc
	cp myproxy-server.config debian/tmp/etc/myproxy-server.config

%:
	dh $@

.PHONY: override_dh_auto_configure override_dh_auto_install
