#!/usr/bin/make -f
# -*- makefile -*-

include /usr/share/quilt/quilt.make

name = globus-simple-ca

_prefix = /usr
_datadir = $(_prefix)/share
_libexecdir = $(_datadir)/globus
_mandir = $(_datadir)/man
_docdir = $(_datadir)/doc
_sysconfdir = /etc

override_dh_auto_configure:
	dh_auto_configure --  \
            --enable-silent-rules \
	   --docdir='$(_docdir)/$(name)' \
           --localstatedir=/var \
           --libexecdir='$(_libexecdir)' \
           --sysconfdir='$(_sysconfdir)'

%:
	dh $@

override_dh_builddeb:
	dh_builddeb -- -Zxz

.PHONY: override_dh_auto_configure override_dh_builddeb
