#!/usr/bin/make -f
# -*- makefile -*-

# see EXAMPLES in dpkg-buildflags(1) and read /usr/share/dpkg/*
DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/default.mk

# see FEATURE AREAS in dpkg-buildflags(1)
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all

name = globus-python
_prefix = /opt/globus-python

override_dh_auto_configure:
	dh_auto_configure -- \
		--prefix=$(_prefix) \
		--enable-ipv6 \
		--with-computed-gotos=yes \
		--with-dbmliborder=gdbm:ndbm:bdb \
		--with-system-expat \
		--with-system-ffi \
		--enable-loadable-sqlite-extensions \
		--with-lto \
		--with-ssl-default-suites=openssl \
		--without-ensurepip \
		--enable-optimizations

override_dh_auto_clean:
	[ -f Makefile ] && make distclean || true

override_dh_builddeb:
	dh_builddeb -- -Zxz

TEST_EXCLUDES="test_socket test_generators test_asyncio test_ftplib test_httplib test_imaplib test_nntplib test_poplib test_ssl test_multiprocessing_fork test_multiprocessing_forkserver test_multiprocessing_spawn test_pdb test_regrtest test_signal test_threading"
override_dh_auto_test:
	make test EXTRATESTOPTS='--use none -x "$(sort $(TEST_EXCLUDES))"'

%:
	dh $@ --with autotools-dev

.PHONY: override_dh_auto_configure override_dh_auto_clean override_dh_builddeb override_dh_auto_test
