#!/usr/bin/make -f
# -*- makefile -*-

# see EXAMPLES in dpkg-buildflags(1) and read /usr/share/dpkg/*
DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/default.mk

# see FEATURE AREAS in dpkg-buildflags(1)
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all

name = globus-python
_prefix = /opt/globus-python

override_dh_auto_configure:
	dh_auto_configure -- \
		--prefix=$(_prefix) \
		--enable-ipv6 \
		--with-computed-gotos=yes \
		--with-dbmliborder=gdbm:ndbm:bdb \
		--with-system-expat \
		--with-system-ffi \
		--enable-loadable-sqlite-extensions \
		--with-lto \
		--with-ssl-default-suites=openssl \
		--without-ensurepip \
		--enable-optimizations

override_dh_auto_clean:
	[ -f Makefile ] && make distclean || true
%:
	dh $@ --with autotools-dev

.PHONY: override_dh_auto_configure override_dh_auto_clean
