Source: globus-gridftp-server-control
Priority: optional
Maintainer: Globus Support <support@globus.org>
Build-Depends: debhelper (>= 9), dh-exec, autotools-dev, quilt, libglobus-xio-pipe-driver-dev (>= 1:2), libglobus-common-dev (>= 1:14), libglobus-xio-gsi-driver-dev (>= 1:2), libglobus-xio-dev (>= 1:6), libglobus-gss-assist-dev (>= 1:8), pkg-config
Standards-Version: 3.9.0
Section: net
Homepage: http://www.globus.org/

Package: libglobus-gridftp-server-control0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libglobus-xio-pipe-driver, libglobus-xio-gsi-driver
Description: Globus Toolkit - Globus GridFTP Server Library
 The Globus Toolkit is an open source software toolkit used for
 building Grid systems and applications. It is being developed by the
 Globus Alliance and many others all over the world. A growing number
 of projects and companies are using the Globus Toolkit to unlock the
 potential of grids for their cause.
 .
 The libglobus-gridftp-server-control0 package contains:
 Globus GridFTP Server Library

Package: libglobus-gridftp-server-control-dev
Section: libdevel
Architecture: any
Depends: libglobus-gridftp-server-control0 (= ${binary:Version}), ${misc:Depends}, libglobus-xio-pipe-driver-dev, libglobus-common-dev, libglobus-xio-gsi-driver-dev, libglobus-xio-dev
Description: Globus Toolkit - Globus GridFTP Server Library Development Files
 The Globus Toolkit is an open source software toolkit used for
 building Grid systems and applications. It is being developed by the
 Globus Alliance and many others all over the world. A growing number
 of projects and companies are using the Globus Toolkit to unlock the
 potential of grids for their cause.
 .
 The libglobus-gridftp-server-control-dev package contains:
 Globus GridFTP Server Library Development Files
